- content_for :page_title do
  My Projects
%ul.list-group
  - current_user.projects.each do |prj|
    %li.list-group-item
      = link_to prj.name, prj, class:'project-name'
      .environment-count
        = pluralize(prj.environments.count, 'Environment')