<!DOCTYPE html>
%html
  %head
    %title
      StageHog - Welcome!
    = render :partial => '/common_head'
    = stylesheet_link_tag    "landing_page/landing_page", :media => "all"
    = javascript_include_tag "landing_page"

  %body
    .jumbotron.jt-landing
      .container
        %h1
          Stage Hog
        %p.blurb
          Track your development environments, who is using them, and their current status.
        %p.signin
          = link_to sign_in_path, class: 'btn btn-default btn-lg' do
            %i.icon-github
            Sign in with GitHub


