%li.list-group-item
  .env-status
    - status_type = env_status_type(environment)
    - if status_type == :production
      %span.label{class: 'label-primary'}
        Production
    - elsif status_type == :free
      %span.label{class: 'label-success'}
        Free
    - elsif status_type == :in_use
      %span.label{class: 'label-warning'}
        In use
  %h4.env-name
    = environment.name
  .env-status-text
    = env_status(environment)
  - if environment.url.present?
    .env-url
      %i.icon-globe
      &nbsp;
      %a{href: environment.url, target:'_blank'}><
        = environment.url