// Place all the styles related to the Environment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.env-name {
  display: inline-block;
}
.env-status {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
}

.env-status-text {
  color: #ccc;
  display: block;
}

.env-url {
  display: block;
}